@{
    Layout = "_Layout";
}

<div class="d-flex vh-100 row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0 rounded-4">
            <div class="card-body p-5 text-center">
                <i class="bi bi-envelope-check text-success" style="font-size: 4rem;"></i>
                <h3 class="fw-bold mt-3">Почти готово!</h3>
                <p class="text-muted">
                    Мы отправили письмо с подтверждением на ваш email.<br />
                    Пожалуйста, перейдите по ссылке в письме, чтобы завершить регистрацию.
                </p>
            </div>
        </div>
    </div>
</div>