@model ResetPasswordViewModel
@{
    Layout = "_Layout";
}

<div class="d-flex vh-100 row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-0 rounded-4">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <h3 class="fw-bold">Enter yor email for reset password</h3>
                </div>

                <form asp-controller="Account" asp-action="ResetPassword" method="post" novalidate>

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>

                    <button type="submit" class="btn btn-dark w-100 py-3 mb-3 rounded-pill">
                        Repair
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>